@using MS.Localization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a name="trainers"></a>
<div class="our-trainers">
    <div class="container">
        <h3>@Strings.OurTrainers</h3>
        <div class="row">
            <div class="col-md-4 trainer-grid-text">
                <div class="ch-item ch-img-1">
                    <div class="ch-info">
                        <h3>@Strings.MoreDetails</h3>
                    </div>
                </div>
                <h4>Some man</h4>
                <p>Fitness trainers and instructors lead, instruct, and motivate individuals or groups in exercise activities, including cardiovascular exercise (exercises for the heart and blood system), strength training, and stretching. They work with people of all ages and skill levels.</p>
            </div>
            <div class="col-md-4 trainer-grid-text">
                <div class="ch-item ch-img-2">
                    <div class="ch-info">
                        <h3>@Strings.MoreDetails</h3>
                    </div>
                </div>
                <h4>Some girl</h4>
                <p>Fitness trainers and instructors lead, instruct, and motivate individuals or groups in exercise activities, including cardiovascular exercise (exercises for the heart and blood system), strength training, and stretching.</p>
            </div>
            <div class="col-md-4 trainer-grid-text">
                <div class="ch-item ch-img-3">
                    <div class="ch-info">
                        <h3>@Strings.MoreDetails</h3>
                    </div>
                </div>
                <h4>CT Fletcher</h4>
                <p>3X WORLD CHAMPION BENCH PRESS.3X WORLD CHAMPION STRICT CURL. U.S. ARMY VETERAN.THE ORIGINAL IRON ADDICT.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<a name="info"></a>
<div class="stats-tabs">
    <div class="container">
        <h3>@Strings.Info</h3>
        <div class="col-md-12 pd stats">
            <h4>Statistics per Year</h4>
            <div class="progress mr">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>
            <div class="border-text">
                <h5>2017 statistic</h5>
            </div>
            <div class="progress mr">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                    <span class="sr-only">20% Complete</span>
                </div>
            </div>
            <div class="border-text">
                <h5>2016 statistic</h5>
            </div>
            <div class="progress mr">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (warning)</span>
                </div>
            </div>
            <div class="border-text">
                <h5>2015 statistic</h5>
            </div>
            <div class="progress mr">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete (danger)</span>
                </div>
            </div>
            <div class="border-text">
                <h5>2014 statistic</h5>
            </div>
        </div>
        @*<div class="col-md-6 pd tabs">
            <ul class="nav nav-tabs nav2" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Lorem</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ipsum</a></li>
                <li role="presentation" class="2t"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Lorem</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active re-pad2" id="home">
                    <div class="col-md-6 re-flt">
                        <img src="./images/tb1.jpg" alt="/" class="img-responsive">
                    </div>
                    <div class="col-md-6 re-flt re-xt">
                        <h4>Lorem Ipsum is dummy text.</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane re-pad2" id="profile">
                    <div class="col-md-6 re-flt">
                        <img src="./images/tb3.jpg" alt="/" class="img-responsive">
                    </div>
                    <div class="col-md-6 re-flt re-xt">
                        <h4>Lorem Ipsum is dummy text.</h4>
                        <p>An unknown printer took a galley of type and scrambled it to make a type specimen book.<p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane re-pad2" id="messages">
                    <div class="col-md-6 re-flt">
                        <img src="./images/tb2.jpg" alt="/" class="img-responsive">
                    </div>
                    <div class="col-md-6 re-flt re-xt">
                        <h4>Lorem Ipsum is dummy text.</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>*@
        <div class="clearfix"></div>
    </div>
</div>
<div class="nutrition">
    <div class="container">
        <h3>@Strings.Nutrition</h3>
        <div class="row">
            <div class="col-md-4 nutrn-grid">
                <div class="pull-left nutrn-text">
                    <h4>Proper Diet</h4>
                    <p>Proper Diet</p>
                </div>
                <div class="pull-right nutrn-icn">
                    <span class="glyphicon glyphicon-cutlery nutrn-icon" aria-hidden="true"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 nutrn-grid">
                <div class="pull-left nutrn-text">
                    <h4>Fat burn</h4>
                    <p>Fat burn diet</p>
                </div>
                <div class="pull-right nutrn-icn">
                    <span class="glyphicon glyphicon-heart nutrn-icon" aria-hidden="true"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 nutrn-grid">
                <div class="pull-left nutrn-text">
                    <h4>Gain mass</h4>
                    <p>Gain mass diet</p>
                </div>
                <div class="pull-right nutrn-icn">
                    <span class="glyphicon glyphicon-hourglass nutrn-icon" aria-hidden="true"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>